<div class="card-body text-right">
    <button class="btn btn-secondary" onclick="location.href='@Url.Action("Form", "Customer")'">+ Add User</button>
</div>
<div class="text-center">
    <h1 class="card-title">List of Registered Users</h1>
</div>
<div class="card-body">
    <table class="table">
        <thead class="thead-light">
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Email</th>
                <th scope="col">Gender</th>
                <th scope="col">Date Registered</th>
                <th scope="col">Selected Days</th>
                <th scope="col">Request</th>
            </tr>
        </thead>
        <tbody id="showData"></tbody>
    </table>
</div>

<script>
    var HttpClient = function() {
        this.get = function(aUrl, aCallback) {
            var anHttpRequest = new XMLHttpRequest();
            anHttpRequest.onreadystatechange = function() { 
                if (anHttpRequest.readyState == 4 && anHttpRequest.status == 200)
                    aCallback(anHttpRequest.responseText);
            }
            anHttpRequest.open( "GET", aUrl, true );
            anHttpRequest.send( null );
        }
    }

    var client = new HttpClient();
    client.get('http://13.87.154.59/api/GetList', function(response) {
        const customers = JSON.parse(response);
        var table = "";

        customers.forEach(row => {
            table += `<tr class="link-item">`;
            table += `<td>${row["Name"]}</td>`;
            table += `<td>${row["Email"]}</td>`;
            table += `<td>${row["Gender"]}</td>`;
            table += `<td>${row["DateRegistered"]}</td>`;
            table += `<td>${row["DaysAttending"]}</td>`;
            table += `<td>${row["Request"]}</td>`;
            table += `</tr>`;
        });

        document.getElementById("showData").innerHTML = table;
    });
</script>